{% extends "base.html" %}

{% block title %}- Welcome{% endblock %}

{% block content %}

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col">
      <div class="card raised-table">
        <h1 class="card-header">
          SMS - Security Management System
        </h1>
        <div class="card-body">
          <h3 class="card-title text-center"></h3>
          <!--Content to be here-->
          <p>Welcome to Security Management Systerm(SMS) with face detection Technology</p>
          <p>Employee door access systems have undergone a significant transformation with the introduction of face detection technology alongside traditional methods. Traditional systems, such as physical keys, access cards, or keypad codes, have long been the standard for granting entry to secured areas within workplaces. However, these methods have their limitations, including the risk of lost or stolen credentials, the need for regular maintenance of physical infrastructure, and the potential for unauthorized access through sharing or duplication of keys or cards.
          </p><p>In contrast, face detection technology brings a new level of security and convenience to employee door access systems. By leveraging sophisticated algorithms to analyze and authenticate facial features, these systems offer a highly accurate and reliable method of identification. Employees simply approach the access point, where a camera captures their facial image and compares it with pre-registered profiles stored in a secure database. Upon successful recognition, the door is automatically unlocked, allowing authorized personnel to enter.</p>
          <p>Following options available in this application</p>
          <ul>
            <li>A web based employee maintenance module</li>
            <li>Scan module to scan employee face and enable door access</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}