{% extends "base.html" %}

{% block title %}- Contact {% endblock %}

{% block content %}

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-10">
      <div class="card raised-table">
        <h3 class="card-header">
          Contact Details
        </h3>
        <div class="card-body">
          <h3 class="card-title text-center"></h3>
          <p>
            <table class="table table-sm thead-success" style="text-decoration: solid; font-weight: bold;">
              <tr>
                <td>Name</td>
                <td>Ragulya Vasantharaj</td>
              </tr>
              <tr>
                <td>Register Number</td>
                <td>P22275228</td>
              </tr>
              <tr>
                <td>Course</td>
                <td>M.Sc., Computer Science</td>
              </tr>
              <tr>
                <td>Email</td>
                <td>ragulyaambika2003@gmail.com</td>
              </tr>
              <tr>
                <td>Contact Number</td>
                <td>+91 8220686531</td>
              </tr>
              </table>
          </p>
          
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}