{% extends "base.html" %}

{% block title %}- New Student{% endblock %}

{% block content %}

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card raised-table">
        <h3 class="card-header">
          Student Registration
        </h3>
        <div class="card-body">
          {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
          {% for category, message in messages %}
          <div class="flash-{{ category }}">
            {{ message }}
          </div>
          {% endfor %}
          {% endif %}
          {% endwith %}
          <div class="table-responsive-sm">
            <form id="studentRegForm" name="studentRegForm" enctype="multipart/form-data"
              action="{{ url_for('add_student') }}" method="post" class="needs-validation" novalidate>

            <div class="form-group">
              <label for="student_name">Name:</label>
              <input type="text" class="form-control" id="student_name" name="student_name" placeholder="Enter Name"
                required>
              <div class="valid-feedback">Valid.</div>
              <div class="invalid-feedback">Please fill out this field.</div>
            </div>
            <div class="form-group">
              <label for="reg_number">Register Number:</label>
              <input type="text" class="form-control" id="reg_number" placeholder="Enter Register number"
                name="reg_number" required>
              <div class="valid-feedback">Valid.</div>
              <div class="invalid-feedback">Please fill out this field.</div>
            </div>
            <div class="form-group">
              <label for="center_code">Center Name:</label>
              <select class="form-control" id="center_code" name="center_code" required="true">
                <option value="" selected>Select Center</option>
                {% for center in centers %}
                <option value="{{ center.center_code }}">{{ center.center_name }}</option>
                {% endfor %}

              </select>
              <div class="valid-feedback">Valid.</div>
              <div class="invalid-feedback">Please fill out this field.</div>
            </div>
            <div class="form-group">
              <label for="file">Choose Image</label>
              <input type="file" class="form-control-file" id="file" name="file" accept=".jpg" required
                onchange="validateFile()">
              <small class="form-text text-muted">File must be in JPG format.</small>
              <small class="form-text text-muted">Maximum file size: 1MB</small>
              <div class="invalid-feedback">Please select an file.</div>
            </div>
            <button class="form-control btn-success btn-block" type="submit">Add Student</button>
            <a href="{{url_for('list_students')}}" class="btn btn-danger btn-block" >Close</a>
            </form>
          </div>
          <script>
            (function () {
              'use strict';
              window.addEventListener('load', function () {
                var form = document.getElementById('studentRegForm');
                form.addEventListener('submit', function (event) {
                  if (!form.checkValidity()) {
                    event.preventDefault();
                    event.stopPropagation();
                  }
                  form.classList.add('was-validated');
                }, false);
              }, false);
            })();
            function validateFile() {
              var fileInput = document.getElementById('file');
              if (fileInput.files.length > 0) {
                var fileSize = fileInput.files[0].size;
                var maxSize = 1 * 1024 * 1024; // 5MB
                if (fileSize > maxSize) {
                  alert('File size exceeds the maximum limit.');
                  fileInput.value = "";
                  return false;
                }
              }
              return true;
            }
          </script>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}