{% extends "base.html" %}

{% block title %}HTGS - Welcome{% endblock %}

{% block content %}

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col">
      <div class="card raised-table">
        <h1 class="card-header">
          HTGS - Hall Ticket Generation and Validation System
        </h1>
        <div class="card-body">
          <h3 class="card-title text-center"></h3>
          <!--Content to be here-->
          <p>Welcome to HTGS (Hall Ticket Generation and Validation System).</p>
          <p>
            Hall ticket validation using QR codes is a modern and efficient method employed by educational institutions to streamline the process of verifying students' identities during examinations or events.
          </p>
          <p>
            A hall ticket, also known as an admit card or exam ticket, is a document issued to students by educational institutions. It contains essential information such as the student's name, registration number, exam venue, date, and instructions for the exam.
          </p>
          <p>
            Validating hall tickets is crucial to ensure the integrity and security of examinations. It helps prevent unauthorized individuals from participating in exams and ensures that each student is properly identified before entering the examination hall.
          </p>
          <p>
            A QR (Quick Response) code is a two-dimensional barcode that contains information encoded in it. It can store various types of data, including text, URLs, contact information, or any other type of alphanumeric data.
          </p>
          <p>
            In the context of hall ticket validation, each student's hall ticket can be encoded into a QR code. The QR code typically contains essential details such as the student's name, registration number, and other relevant information.
          </p>

          <p>With this Systen, we can do following,</p>
          <ul>
            <li>User administration</li>
            <li>Student administration</li>
            <li>Center administration</li>
            <li>Hall Ticket Generation with student photo and QR code</li>
            <li>Hall ticket validation using QR code scan</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}