{% extends "base.html" %}

{% block title %}- Edit Menu{% endblock %}

{% block content %}

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card raised-table">
        <h5 class="card-header">
          Edit Menu
        </h5>
        <div class="card-body">
          <h3 class="card-title text-center"></h3>    
          <form id="editMenuForm" name="editMenuForm" action="{{url_for('update_menu',id=menu.id)}}" method="post" class="needs-validation" novalidate>
            <div class="form-group">
              <label for="menu_code">Menu code:</label>
              <input type="text" class="form-control" id="menu_code" name="menu_code" placeholder="Enter menu code" required maxlength="10" minlength="5" style="text-transform: uppercase" value="{{menu.menu_code}}" readonly>
              <div class="valid-feedback">Valid.</div>
              <div class="invalid-feedback">Please fill out this field.</div>
            </div>
            <div class="form-group">
              <label for="menu_name">Menu Name:</label>
              <input type="text" class="form-control" id="menu_name" name="menu_name" placeholder="Enter menu name" required value="{{menu.menu_name}}">
              <div class="valid-feedback">Valid.</div>
              <div class="invalid-feedback">Please fill out this field.</div>
            </div>
            <div class="form-group">
              <label for="menu_price">Menu Price:</label>
              <input type="text" class="form-control" id="menu_price" name="menu_price" placeholder="Enter menu price" step="0.01" required value="{{menu.menu_price|format_decimal}}">
              <div class="valid-feedback">Valid.</div>
              <div class="invalid-feedback">Please fill out this field.</div>
            </div>
            <div class="form-group">
              <label for="menu_description">Menu Details:</label>
              <textarea class="form-control" id="menu_description" name="menu_description" placeholder="Enter details abouth this menu" rows="3">{{menu.menu_description}}</textarea>
              <div class="valid-feedback">Valid.</div>
              <div class="invalid-feedback">Please fill out this field.</div>
            </div>
            <button class="form-control btn-success btn-block" type="submit">Update Menu</button>
            <button type="button" class="btn btn-danger btn-block" onclick="redirectToMenus()">View Menu(s)</button> 
             </form>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
(function () {
  'use strict';
  window.addEventListener('load', function () {
    var form = document.getElementById('editMenuForm');
    form.addEventListener('submit', function (event) {
      if (!form.checkValidity()) {
        event.preventDefault();
        event.stopPropagation();
      }
      form.classList.add('was-validated');
    }, false);
  }, false);
})();
</script>
{% endblock %}