{% extends "events/base.html" %}
{% block title %}
Home
{% endblock %}
{% block content %}
<div class="container text-dark text-centre ">
   <h1><b>
      Welcome to College Event Management System
   </b></h1><br>
   <P>Organizing and managing college events has never been easier! Our College Event Management System is a one-stop platform designed to streamline the planning, coordination, and participation of various events happening on campus. Whether it’s cultural fests, academic conferences, sports competitions, or student club activities, this system ensures a seamless experience for students, faculty, and organizers.

      With an intuitive interface, users can explore upcoming events, register effortlessly, and stay updated with real-time notifications. Event organizers can create and manage events, track registrations, upload event schedules, and share updates with attendees. The platform also features a dynamic countdown timer to keep participants informed about upcoming events, while a secure login system ensures role-based access for students, organizers, and administrators.
      
      By integrating modern web technologies such as Django, Bootstrap, and SQLite, our system delivers a responsive, user-friendly, and efficient solution for managing college events. Whether you're looking to participate in an exciting event or organize one with ease, the College Event Management System is here to enhance your campus experience.</P>
</div>
{% endblock %}