{% extends 'guidance/base.html' %}

 {% block content %}  
 <div class="container mt-5">
    <h2 class="text-center mb-4, text-secondery">Contact Us</h2>
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="contact-info">
          <h3 class="row justify-content-center">Contact Information</h3>
          <p><strong>Name:</strong> Subasri Ganesan</p>
          <p><strong>Address:</strong> 123, T Nagar , Chennai-60001, India</p>
          <p><strong>Phone:</strong> (123) 456-7890</p>
          <p><strong>Email:</strong> studentcareerguidance@gmail.com</p>
        </div>
      </div>
    </div>
  </div>

    {% endblock %}  