{% extends "base.html" %}

{% block title %}- Add Department{% endblock %}

{% block content %}

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card raised-table">
        <h5 class="card-header">
          Add Department
        </h5>
        <div class="card-body">
          <h3 class="card-title text-center"></h3>
          <!--Content to be here-->
          {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
          {% for category, message in messages %}
          <div class="flash-{{ category }}">
            {{ message }}
          </div>
          {% endfor %}
          {% endif %}
          {% endwith %}

          <form id="newDepartment" name="newDepartment" action="{{url_for('add_department')}}" method="post" class="needs-validation" novalidate>
            <div class="form-group">
              <label for="department_code">Department code:</label>
              <input type="text" class="form-control" id="department_code" placeholder="Enter department code" name="department_code" required maxlength="3" minlength="3" style="text-transform: uppercase">
              <div class="valid-feedback">Valid.</div>
              <div class="invalid-feedback">Please fill out this field.</div>
            </div>
            <div class="form-group">
              <label for="department_name">Department Name:</label>
              <input type="text" class="form-control" id="department_name" placeholder="Enter department name" name="department_name" required>
              <div class="valid-feedback">Valid.</div>
              <div class="invalid-feedback">Please fill out this field.</div>
            </div>    
            <div class="form-group">
              <label for="department_description">Department Details:</label>
              <textarea class="form-control" id="department_description" name="department_description" placeholder="Enter details abouth this department" rows="3"></textarea>
              <div class="valid-feedback">Valid.</div>
              <div class="invalid-feedback">Please fill out this field.</div>
            </div>   
            <button class="form-control btn-success btn-block" type="submit">Add Department</button>
            <button type="button" class="btn btn-danger btn-block" onclick="redirectToDepartments()">View Department(s)</button> 
             </form>


        </div>
      </div>
    </div>
  </div>
</div>
<script>
(function () {
  'use strict';
  window.addEventListener('load', function () {
    var form = document.getElementById('newDepartment');
    form.addEventListener('submit', function (event) {
      if (!form.checkValidity()) {
        event.preventDefault();
        event.stopPropagation();
      }
      form.classList.add('was-validated');
    }, false);
  }, false);
})();
</script>
{% endblock %}