{% extends "seating/base.html" %}
{% block content %}
<div class="container">
    <h1>Admin Dashboard - <small>Welcome {{ teacher.name }} </small></h1>
    {% if subjects %}
    <h3>Subjects You Handle</h3>
<table>
    <tr>
        <th>Subject Code</th>
        <th>Subject Name</th>
    </tr>
    {% for subject in subjects %}
    <tr>
        <td>{{ subject.subject.code }}</td>
        <td>{{ subject.subject.name }}</td>
    </tr>
    {% endfor %}
</table>
    {% else %}
    <p>No subject information</p>
    {% endif %}
 </div>

{% endblock %}