{% extends "seating/base.html" %}

{% block title %}about{% endblock %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us - Exam Hall Allotment System</title>
    
</head>
<body>

    
        <div class="container mt-5">
            <h2 class="text-center mb-4">Contact Us</h2>
    
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="contact-info">
                        <h3 class="row justify-content-center">Contact Information</h3>
                    
                        <p><strong>Name:</strong> Varsha Ravichanthiran</p>
                        <p><strong>Phone:</strong> +91 9025572360</p>
                        <p><strong>Email:</strong> varsharavichanthiran@gmail.com </p>
                        <p><strong>Address:</strong> 1/98, Gandhi road, Mannargudi.</p>
                    </div>
                </div>
            </div>
        </div>

</body>
</html>
{% endblock %}
